/*.panel-heading{
    background-color: #009688;
    margin-top: 40px;
}*/


/*###############################################*/

.container{
    margin-top: 50PX;
    padding: 10px 10px 0 10px;
    position: absolute;
	width: calc(100% - 51px); 
	margin-left: 50px;
	float: right;
    overflow-x:hidden;
}


.circle-image{
  margin-top: 6px;
  margin-left: 10px;
    width: 40px;
    height: 40px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.panel-body{
    margin-top: -30px;
}
.btn-primary{
    padding: 0 10%; 
    margin-top:5px;
    background: #02685e;
    border-color: #02685e;
}
.btn-success{
    background: #c24a25;
    border-color: #c24a25;
    color: #ffffff;
}

.page-title h2{
  color:#b7b7b7;
  padding-top:-100px;
}


.notif-style{
    color: #30363a;
    font-weight: bold;
    font-size: 16px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.glyphicon{
    margin-top: 10px;
}
.glyphicon-ok{
    color: #20b32d;
}

.glyphicon-remove{
    color: #f02e1a;
}
.glyphicon-pencil{
    color: #206ada;
}

/*toggle styles*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 60px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #009486;
}

input:focus + .slider {
  box-shadow: 0 0 1px #009486;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}