<app-pagetop></app-pagetop>
<app-side-bar></app-side-bar>

<div class="container">
  <div class="page-title">
    <h2>Notification Management <span><img src="assets/inlineLoader.gif" *ngIf="waitForNotiCount && !isSuperAdmin" style="width: 25px" /> </span>      <span *ngIf="!waitForNotiCount && !isSuperAdmin"> (Available Notifications - {{sentNoti}}/{{avilNoti}})</span></h2>
  </div>
  <div class="pull-right"><button class="btn btn-success" (click)="openAddNew()">New Notification</button></div><br><br><br>
  <div class="panel panel-default">

    <img class="center-block" *ngIf="showLoader" style="margin-top:300px" src="assets/img/MajlisLogoNav.png" />
    <img class="center-block" *ngIf="showLoader" style="margin-top:20px" src="assets/img/loader2.gif" />
    <table class="table table-hover" *ngIf="!showLoader">
      <thead style="background-color: #02685E;color: azure;box-shadow: 0px 5px 15px#02685E">
        <tr>
          <th></th>
          <th>Group ID</th>
          <th>Event ID</th>
          <!--<th>User ID</th>-->
          <!--<th>Caption</th>-->
          <th>Message</th>
          <th>Status</th>
          <th>Send</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let n of NotificationModelArr;">
          <td>
            <img class="circle-image pull-left" src="{{n.notificationIconPath}}" />
          </td>
          <td>
            <div class="col-sm-12 notif-style">
              {{n.notificationGroupId.groupTitle}}
            </div>
          </td>
          <td>
            <div class="col-sm-12 notif-style">
              {{n.notificationEventId.eventCaption}}
            </div>
          </td>
          <!--<td>
            <div class="col-sm-12 notif-style">
             {{n.notificationUserId.userId}}
            </div>
          </td>-->
          <!--<td>
            <div class="col-sm-12 notif-style">
              caption
            </div>
          </td>-->
          <td>
            <div class="col-sm-12 notif-style">
              {{n.notificationMessage}}
            </div>
          </td>
          <td>
            <span class="fa fa-floppy-o" *ngIf="n.notificationStatus.codeId== 26" data-toggle="tooltip" data-placement="top" title="Active"></span>
            <!-- <span class="glyphicon glyphicon-remove"  *ngIf="n.notificationStatus.codeId== 25" data-toggle="tooltip" data-placement="top" title="Inactive"></span> -->
            <span class="glyphicon glyphicon-ok" *ngIf="n.notificationStatus.codeId== 24" data-toggle="tooltip" data-placement="top"
              title="Draft"></span>
          </td>
          <td>
            <button class="btn btn-primary" [disabled]="n.notificationStatus.codeId== 26" (click)="openSendNotificationForm(n)">
              <i class="fa fa-paper-plane"></i>
            </button>
          </td>
          <td>
            <button class="btn btn-primary" [disabled]="n.notificationStatus.codeId== 24" (click)="openSendNotificationEdit(n.notificationId)">
              <i class="fa fa-pencil"></i>
            </button>
          </td>
        </tr>


      </tbody>
    </table>


  </div>


  <!--######################New Notification Modal######################-->
  <div bsModal #newNotification="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">

      <div class="modal-content">

        <form>
          <!--################ start form ############-->
          <div class="modal-header">
            <button type="button" class="close pull-right" (click)="newNotification.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
            <h4 class="modal-title">{{notificationTitleBar}} </h4>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="template">Group</label>
              <!--<input type="number" name="groupId" [(ngModel)]="NotificationModel.notificationGroupId" class="form-control" required>-->
              <select class="form-control" name="groupId" (change)="selectEventsForGroups($event.target)">
                <option value="0">Please select group</option>
                <option *ngFor="let g of groupModel" [selected]="g.groupId ==NotificationModel.notificationGroupId.groupId"   [ngValue]=g>{{g.groupTitle}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="template">Event ID</label>
              <!--<input type="number"  name="eventId"  [(ngModel)]="NotificationModel.notificationEventId" class="form-control" required>-->
              <select class="form-control" name="eventId" (change)="selectEvents($event.target)">
                <option value="0">Please select event</option>
                <option *ngFor="let e of eventModel" [selected]="e.eventId ==NotificationModel.notificationEventId.eventId"  [ngValue]=e>{{e.eventCaption}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="comment">Message</label>
              <textarea class="form-control" name="notificationMessage" [(ngModel)]="NotificationModel.notificationMessage" rows="5" required></textarea>
            </div>
            <div style="text-align: right">
              <label class="radio-inline">
            <input type="radio" name="optradio" [value]= "26"  [(ngModel)]="notificationStatus" [checked]="NotificationModel.notificationStatus.codeId==26">Draft
          </label>
              <label class="radio-inline">
            <input type="radio" name="optradio" [value]= "24" [(ngModel)]="notificationStatus" [checked]="NotificationModel.notificationStatus.codeId==24">Active
          </label>
              <label class="radio-inline">
            <!-- <input type="radio" name="optradio" value = "26" [(ngModel)]="status">Inactive -->
          </label>
            </div>
            <br><br>
            <div *ngIf="!editMode">
              <label class="control-label">Select Icon</label>
              <input type="file" accept="image/jpeg" ng2FileSelect [uploader]="uploader" />
              <div class="col-md-12" >

                <table class="table pull-right" style="margin-bottom: 5px;width: 100%">
                  <thead>
                    <tr>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of uploader.queue">

                      <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                      <td *ngIf="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                      </td>
                      <td class="text-center" style="text-align: right">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                      </td>
                      <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                      </td>
                      <!--<td>
                      <!--<input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />-->
                      <!--<input type="file" onchange="previewFile()"><br>-->
                      <!--<img src="" height="200" alt="Image preview...">-->
                      <!--</td>-->
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>

              </div>

            </div>


          </div>

          <div class="modal-footer">
            <span><img src="assets/inlineLoader.gif" *ngIf="showAddNewWindow" style="width: 25px" /> </span>
            <button type="submit" *ngIf="!editMode" class="btn btn-success" (click)="saveNewNotification()">&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
            <button type="submit" *ngIf="editMode" class="btn btn-success" [disabled]="showAddNewWindow" (click)="saveNewNotificationChanges()">&nbsp;&nbsp;Update&nbsp;&nbsp;</button>

            <button type="button" class="btn btn-default" (click)="newNotification.hide()">Close</button>

          </div>
        </form>
        <!--################## end form ###############-->
      </div>
    </div>
  </div>


  <!--###########SendNotification modal#############-->
  <div bsModal #sendNotification="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close pull-right" (click)="sendNotification.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
          <h4 class="modal-title">Send Notification</h4>
        </div>
        <div class="modal-body">
          <div align="center">
            <button class="btn btn-success" (click)="sendTo(17)" style="padding-top:20px;padding-bottom:20px">Send to Group</button>
            <button class="btn btn-success" (click)="sendTo(18)" style="padding-top:20px;padding-bottom:20px">Send to Event</button>
            <button class="btn btn-success" (click)="sendTo(19)" style="padding-top:20px;padding-bottom:20px">Send to Attendees</button>
            <button class="btn btn-success" (click)="sendTo(20)" style="padding-top:20px;padding-bottom:20px">Send to non Attendees</button>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="sendNotification.hide()">Close</button>
        </div>

      </div>
    </div>
  </div>

  <div bsModal #confirmation="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close pull-right" (click)="sendNotification.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
          <h4 class="modal-title">Send Notification</h4>
        </div>
        <div class="modal-body">
          <p>This may affect your total notification count. Are you sure?</p>

        </div>

        <div class="modal-footer">
          <span><img src="assets/inlineLoader.gif" *ngIf="confirmLoader" style="width: 25px" /> </span>

          <button type="button" class="btn btn-success" [disabled]="confirmLoader" (click)="sendToConfirm()">Sure</button>

          <button type="button" class="btn btn-default" (click)="confirmation.hide()">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>


<!-- ============================================================= -->

<div bsModal #success="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">

      <div class="modal-header" style="background-color: #449D44; color: azure">
        <button type="button" class="close pull-right" (click)="success.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
        <h4 class="modal-title">Operation Completed</h4>
      </div>
      <div class="modal-body">
        <p>{{successMessage}}</p>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-default" (click)="success.hide()">Close</button>
      </div>

    </div>
  </div>
</div>


<div bsModal #fail="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">

      <div class="modal-header" style="background-color: chocolate;color: azure">
        <button type="button" class="close pull-right" (click)="fail.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
        <h4 class="modal-title">Operation Failed!</h4>
      </div>
      <div class="modal-body">
        <p>{{failMessage}}</p>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-default" (click)="fail.hide()">Close</button>
      </div>

    </div>
  </div>
</div>