<!--<div class="navbar navbar-inverse navbar-fixed-left">
  <a class="navbar-brand" href="">Brand</a>
  <ul class="nav navbar-nav">


<div class="list-group">
  <button type="button" class="list-group-item" (click)="btnClick();"><span class="glyphicon glyphicon-user">User Management</span></button>
  <button type="button" class="list-group-item"><span class="glyphicon glyphicon-list-alt" (click)=btnCat();>Category Management</span></button>
  <button type="button" class="list-group-item"><span class="glyphicon glyphicon-dashboard" (click)=btnGrp();>Group Management</span></button>
  <button type="button" class="list-group-item"><span class="glyphicon glyphicon-list-alt" (click)=btnEvt();>Event Management</span></button>
  <button type="button" class="list-group-item"><span class="glyphicon glyphicon-list-alt" (click)=btnTmplt();>Template Management</span></button>
</div>

  </ul>

 </div>-->




<nav class="navbar navbar-inverse navbar-fixed-top sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->


    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav" style="width: 100%">
        <li *ngIf="getPermission('dashboard')" routerLinkActive="active"><a [routerLink]="['/dashboard']">Dashboard<span class="pull-right hidden-xs showopacity"><img class="dashIcon" src="assets/img/icons/MajlisDashboard.png"  width="30px"/></span></a></li>
        <li *ngIf="getPermission('user-management')" routerLinkActive="active"><a [routerLink]="['/user-management']">Users<span class="pull-right hidden-xs showopacity"><img class="dashIcon" src="assets/img/icons/MajlisUser.png" height="30px" width="30px"/></span></a></li>
        <li *ngIf="getPermission('mobileuser')" routerLinkActive="active"><a [routerLink]="['/mobileuser']">Mobile Users<span class="pull-right hidden-xs showopacity"><img class="dashIcon" src="assets/img/icons/MajlisMobile.png" height="30px" width="30px"/></span></a></li>
        <li *ngIf="getPermission('group-management')" routerLinkActive="active"><a [routerLink]="['/group-management']">Groups<span class="pull-right hidden-xs showopacity"><img class="dashIcon" src="assets/img/icons/MajlisGroup.png" height="30px" width="30px"/></span></a></li>
        <li *ngIf="getPermission('category-management')" routerLinkActive="active"><a [routerLink]="['/category-management']">Categories<span class="pull-right hidden-xs showopacity"><img class="dashIcon" src="assets/img/icons/MajlisCategory.png" height="30px" width="30px"/></span></a></li>
        <li *ngIf="getPermission('event-management')" routerLinkActive="active"><a [routerLink]="['/event-management']">Events<span class="pull-right hidden-xs showopacity"><img class="dashIcon" src="assets/img/icons/MajlisEvent.png" height="30px" width="30px"/></span></a></li>
        <li *ngIf="getPermission('template-management')" routerLinkActive="active"><a [routerLink]="['/template-management']">Templates<span class="pull-right hidden-xs showopacity"><img class="dashIcon" src="assets/img/icons/MajlisTemplate.png" height="30px" width="30px"/></span></a></li>
        <li *ngIf="getPermission('notification')" routerLinkActive="active"><a [routerLink]="['/notification']">Notifications<span class="pull-right hidden-xs showopacity"><img class="dashIcon" src="assets/img/icons/MajlisNotification.png" height="30px" width="30px"/></span></a></li>
        <li *ngIf="getPermission('custom-reports')" routerLinkActive="active"><a [routerLink]="['/custom-reports']">Reports<span class="pull-right hidden-xs showopacity"><img class="dashIcon" src="assets/img/icons/MajlisReport.png" height="30px" width="30px"/></span></a></li>
      </ul>
    </div>
  </div>
</nav>