
/*###############################################*/

.container{
    margin-top: 50PX;
    padding: 10px 10px 0 10px;
    position: absolute;
	width: calc(100% - 51px); 
	margin-left: 50px;
	float: right;
    overflow-x:hidden;
}


.panel-body{
    margin-top: -30px;
}
.page-title h2{
  color:#b7b7b7;
  padding-top:-100px;
}

.repo-name{
    color: #30363a;
    font-weight: bold;
    font-size: 16px;
}

.btn-primary{
    padding: 0 10%; 
    margin-top:10px;
    background: #02685e;
    border-color: #02685e;
}
.btn-success{
    background: #c24a25;
    border-color: #c24a25;
    color: #ffffff;
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.glyphicon{
    margin-top: 10px;
}
.glyphicon-ok{
    color: #20b32d;
}

.glyphicon-remove{
    color: #f02e1a;
}

textarea {
    resize: none;
}