<app-pagetop></app-pagetop>
<app-side-bar></app-side-bar>

<div class="container">
  <div class="page-title">
    <h2>Custom Reports</h2>
  </div>
  <div class="pull-right"><button class="btn btn-success" (click)="newReport.show()">New Report</button></div><br><br><br>
  <div class="panel panel-default">

    <img class="center-block" *ngIf="showLoader" style="margin-top:300px" src="assets/img/MajlisLogoNav.png" />
<img class="center-block" *ngIf="showLoader" style="margin-top:20px" src="assets/img/loader2.gif" />

    <table class="table table-hover" *ngIf="!showLoader">
      <thead style="background-color: #02685E;color: azure;box-shadow: 0px 5px 15px#02685E">
        <tr>
          <th>Report Name</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of CustomReportModelArr;">
          <td>
            <div class="col-sm-12 repo-name pull-left">
              {{c.reportName}}
            </div>
          </td>
          <td>
            <span class="glyphicon glyphicon-ok" *ngIf="c.status== 1"></span>
            <span class="glyphicon glyphicon-remove" *ngIf="c.status== 2"></span>
          </td>
          <td>
            <button class="btn btn-primary pull-right" (click)="openEditReportForm(c.reportId)">
                            Edit
                        </button>
          </td>
          <td>
            <button class="btn btn-primary pull-right" (click)="generateReport(c.query)">
                            Generate
                        </button>
          </td>
        </tr>


      </tbody>
    </table>





  </div>

  <!--######################Edit Report Modal######################-->
  <div bsModal #editReport="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">
        <form>
          <!--################ start edit form ################-->
          <div class="modal-header">
            <button type="button" class="close pull-right" (click)="editReport.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
            <h4 class="modal-title">Edit Report</h4>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="template">Report Name</label>
              <input type="text" [(ngModel)]="customReportModelEdit.reportName" name="customReportModelEdit.reportName"  class="form-control" placeholder="Report Name" required>
            </div>

            <div class="form-group">
              <label for="comment">Query</label>
              <textarea class="form-control" [(ngModel)]="customReportModelEdit.query" name="customReportModelEdit.query"  rows="5" placeholder="SELECT example FROM example" required></textarea>
            </div>

            <div class="form-group">
              <label for="template">Report Status</label>
              <select [(ngModel)]="customReportModelEdit.status" name="customReportModelEdit.status" class="form-control">
                <option value =1>Active</option>
                <option value =2>Inactive</option>
              </select>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="editReport.hide()">Close</button>
            <button type="submit" class="btn btn-success" (click)="editReportDetails()">&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
          </div>
        </form>
        <!--################ end edit form ################-->
      </div>
    </div>
  </div>

  <!--######################New Report Modal######################-->
  <div bsModal #newReport="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">
        <form>
          <!--################ start new report form ################-->
          <div class="modal-header">
            <button type="button" class="close pull-right" (click)="newReport.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
            <h4 class="modal-title">New Report</h4>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="template">Report Name</label>
              <input type="text" [(ngModel)]="customReportModel.reportName" name="customReportModel.reportName" class="form-control" placeholder="Report Name" required>
            </div>

            <div class="form-group">
              <label for="comment">Query</label>
              <textarea class="form-control" [(ngModel)]="customReportModel.query" name="customReportModel.query" rows="5" placeholder="SELECT example FROM example" required></textarea>
            </div>

            <div class="form-group">
              <label for="template">Report Status</label>
              <select [(ngModel)]="customReportModel.status" name="status" class="form-control">
                <option value =1>Active</option>
                <option value =2>Inactive</option>
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="newReport.hide()">Close</button>
            <button type="submit" class="btn btn-success" (click)="saveNewReport()">&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
          </div>
        </form>
        <!--################ end new report form ################-->
      </div>
    </div>
  </div>
  <!--######################Report Format Modal######################-->
  <!--<div bsModal #reportFormat="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" (click)="reportFormat.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
          <h4 class="modal-title">Report Format</h4>
        </div>
        <div class="modal-body">
          <div class="col-sm-6 text-center">
            <button type="button" class="btn btn-success">PDF</button>
          </div>
          <div class="col-sm-6 text-center">
            <button type="button" class="btn btn-success">EXCEL</button>
          </div>
        </div>
        <div class="modal-footer">
          <br><br>
        </div>
      </div>
    </div>
  </div>-->





</div>