<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>

<div class="container">
  <div class="page-title">
    <h2>Event Management</h2>
  </div>
  <div class="pull-right"><button class="btn btn-success" (click)="addNewEvent()">New Event</button></div><br><br><br>
  <div class="panel panel-default">

    <img class="center-block" *ngIf="showLoader" style="margin-top:300px" src="assets/img/MajlisLogoNav.png" />
    <img class="center-block" *ngIf="showLoader" style="margin-top:20px" src="assets/img/loader2.gif" />

    <table class="table table-hover" *ngIf="!showLoader">
      <thead style="background-color: #02685E;color: azure;box-shadow: 0px 5px 15px#02685E">
        <tr>
          <th></th>
          <th>Caption</th>
          <th>Message</th>
          <th>Location</th>
          <th>Date</th>
          <!-- <th>Time</th> -->
          <th>Category</th>
          <th>Recipients</th>
          <!-- <th>Images</th> -->
          <th style="text-align: center">Info</th>
          <th style="text-align: center">Edit</th>
          <th style="text-align: center">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of eventModelList;">
          <td><img class="circle-image pull-left" src="{{a.eventIconPath}}" /></td>
          <td>
            <div class="col-sm-12 event-name pull-left">
              {{a.eventCaption}}
            </div>
          </td>
          <td>
            <div class="col-sm-12 repo-name pull-left">
              {{a.eventMessage}}
            </div>
          </td>
          <td>
            <div class="col-sm-12 repo-name pull-left">
              {{a.eventLocation}}
            </div>
          </td>
          <td>
            <div class="col-sm-12 repo-name pull-left">
              {{a.eventDate | date : "fullDate"}}
            </div>
          </td>
          <!-- <td>
            <div class="col-sm-12 repo-name pull-left">
              {{a.eventTime}}
            </div>
          </td> -->
          <td>
            <div class="col-sm-12 repo-name pull-left">
              {{a.eventCategory.categoryTitle}}
            </div>
          </td>
          <td>
            <div class="col-sm-12 repo-name pull-left">
              {{a.manualCount}}
            </div>
          </td>
          <!-- <td>
            <div class="col-sm-12 repo-name pull-left">
              <button class="btn btn-primary" (click)="viewImages.show()">View Images</button>
            </div>
          </td> -->
          <td>
            <div class="col-sm-12 repo-name pull-left">
              <button class="btn btn-primary " (click)="viewInfomation(a)">View</button>
            </div>
          </td>
          <td>
            <div class="col-sm-12 repo-name pull-left">
              <button class="btn btn-primary" (click)="editEventOpen(a)">Edit</button>
            </div>
          </td>
          <td>
            <span class="glyphicon glyphicon-ok" *ngIf="a.eventStatus.codeId ==15"></span>
            <span class="glyphicon glyphicon-remove" *ngIf="a.eventStatus.codeId ==16"></span>
          </td>
        </tr>

      </tbody>
    </table>
  </div>


  <!--######################New Event Modal######################-->
  <div bsModal #newEvent="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">
        <form #newEventForm="ngForm">
          <!--################ start new report form ################-->
          <div class="modal-header" style="background-color: #02685E;color: azure">
            <button type="button" class="close pull-right" (click)="newEvent.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
            <h4 class="modal-title">Add Event</h4>
      
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="template">Caption</label>
              <input type="text" class="form-control" [(ngModel)]="eventModel.eventCaption" class="form-control" name="eventModel.eventCaption"
                required>
            </div>

            <div class="form-group">
              <label for="comment">Message</label>
              <textarea class="form-control" rows="3" [(ngModel)]="eventModel.eventMessage" class="form-control" name="eventModel.eventMessage"
                required></textarea>
            </div>

            <div class="form-group">
              <label for="template">Address</label>
              <input type="text" class="form-control" [(ngModel)]="eventModel.eventLocation" class="form-control" name="eventModel.eventLocation"
                required>
            </div>

            <label for="template">Location</label>
            <div class="row">

              <ngui-map (mapClick)="onMapClick($event)" zoom="11" mapTypeId="terrain" style="height: 200px;">
                <marker [position]="position"></marker>
              </ngui-map>
            </div>
            <br/>
            <div class="row">
              <div class="form-group col-xs-6">
                <label class="sr-only">Latitude</label>
                <input readonly="true" class="form-control input-group-lg" type="text" title="Enter Latitude" [(ngModel)]="eventModel.eventLocationLat"
                  class="form-control" name="eventModel.eventLocationLat" placeholder="Latitude" />
              </div>

              <div class="form-group col-xs-6">
                <label class="sr-only">Longitude</label>
                <input readonly="true" class="form-control input-group-lg" type="text" title="Enter Longitude" [(ngModel)]="eventModel.eventLocationLont"
                  class="form-control" name="eventModel.eventLocationLont" placeholder="Longitude" />
              </div>

            </div>


            <div class="form-group">
              <label for="template">Date</label>
              <input type="date" class="form-control" [(ngModel)]="eventModel.eventDate" class="form-control" name="eventModel.eventDate"
                required>
              <!--<input type="date" ng-model="date" value="{{ date | date: 'yyyy-MM-dd' }}" />-->
            </div>

            <div class="form-group">
              <label for="template">Time (Format should be HH:MM:AM/PM)</label>
              <input type="time" class="form-control" [(ngModel)]="eventModel.eventTime" class="form-control" name="eventModel.eventTime"
                required>
              <!--<input type="date" ng-model="date" value="{{ date | date: 'yyyy-MM-dd' }}" />-->
            </div>


            <!--Category Drop Down List-->
            <div class="form-group">
              <label for="template">Category</label>
              <select [(ngModel)]="eventModel.eventCategory.categoryId" name="eventModel.eventCategory.categoryId" class="form-control">
                <option *ngFor="let x of categoryModelList"  [ngValue]="x.categoryId">{{x.categoryTitle}}</option>
            </select>
            </div>

            <!--Group Drop Down List-->
            <div class="form-group">
              <label for="template">Group</label>

              <select [(ngModel)]="eventModel.groupId.groupId" name="eventModel.groupId" class="form-control">
                <option *ngFor="let y of groupList" [ngValue]="y.groupId">{{y.groupTitle}}</option>
            </select>
            </div>

            <!--Event Drop Down List-->
            <div class="form-group">
              <label for="template">Event Status</label>
              <select [(ngModel)]="eventModel.eventStatus.codeId" name="eventModel.eventStatus" class="form-control">
                <option *ngFor="let m of statusList" [ngValue]="m.codeId">{{m.codeMessage}}</option>
              </select>
            </div>

            <div class="form-group" style="display: none">
              <label for="template">Group Public Levels</label>
              <select [(ngModel)]="eventModel.groupId.groupPublicLevel" name="eventModel.groupId.groupPublicLevel" class="form-control">
                <option *ngFor="let n of levelsList" [ngValue]="n">{{n.codeMessage}}</option>
              </select>
            </div>


            <div class="form-group">
              <label for="template">Recipients</label>
              <input type="number" class="form-control" [(ngModel)]="eventModel.manualCount" class="form-control" name="eventModel.manualCount"
                required>
            </div>

            <label class="control-label">Select Banner Image (Support file type - JPG)</label>
            <input type="file" accept="image/jpeg" ng2FileSelect [uploader]="uploader" />

            <table class="table">
              <thead>

              </thead>
              <tbody>
                <tr *ngFor="let item of uploader.queue" style="text-align: right">

                  <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                  <td *ngIf="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                    <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                    <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                  </td>

                </tr>
              </tbody>
            </table>

            <div style="display: none">
              <label class="control-label">Select Event Images</label>
              <input id="input-1" type="file" class="file" required><br>

              <label class="control-label">Select Event Video</label>
              <input id="input-1" type="file" class="file" required>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="newEvent.hide()">Close</button>
            <button type="submit" *ngIf="mode=='edit'" (click)=saveChangesEvent() class="btn btn-success">&nbsp;&nbsp;Save Changes&nbsp;&nbsp;</button>

            <button type="submit" *ngIf="mode=='create'" (click)=createEvent() class="btn btn-success">&nbsp;&nbsp;Create&nbsp;&nbsp;</button>
          </div>
        </form>
        <!--################ end new report form ################-->
      </div>
    </div>
  </div>


  <div bsModal #editEventModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">
        <form #newEventForm="ngForm">
          <!--################ start new report form ################-->
          <div class="modal-header" style="background-color: #02685E;color: azure">
            <button type="button" class="close pull-right" (click)="editEventModal.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
            <h4 class="modal-title">Edit Event</h4>

            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="template">Caption</label>
              <input type="text" class="form-control" [(ngModel)]="eventEdit.eventCaption" class="form-control" name="eventModel.eventCaption"
                required>
            </div>

            <div class="form-group">
              <label for="comment">Message</label>
              <textarea class="form-control" rows="3" [(ngModel)]="eventEdit.eventMessage" class="form-control" name="eventModel.eventMessage"
                required></textarea>
            </div>

            <div class="form-group">
              <label for="template">Address</label>
              <input type="text" class="form-control" [(ngModel)]="eventEdit.eventLocation" class="form-control" name="eventModel.eventLocation"
                required>
            </div>

            <label for="template">Location</label>

            <div class="row">

              <ngui-map (mapClick)="onMapClickEdit($event)" zoom="11" [center]="position" mapTypeId="terrain" style="height: 200px;">
                <marker [position]="position"></marker>
              </ngui-map>

            </div>
            <br/>
            <div class="row">

              <div class="form-group col-xs-6">
                <label class="sr-only">Latitude</label>
                <input readonly="true" class="form-control input-group-lg" type="text" title="Enter Latitude" [(ngModel)]="eventEdit.eventLocationLat"
                  class="form-control" name="eventModel.eventLocationLat" placeholder="Latitude" />
              </div>
              <div class="form-group col-xs-6">
                <label class="sr-only">Longitude</label>
                <input readonly="true" class="form-control input-group-lg" type="text" title="Enter Longitude" [(ngModel)]="eventEdit.eventLocationLont"
                  class="form-control" name="eventModel.eventLocationLont" placeholder="Longitude" />
              </div>

            </div>


            <div class="form-group">
              <label for="template">Date</label>
              <input type="date" class="form-control" [(ngModel)]="eventEdit.eventDate" class="form-control" name="eventModel.eventDate"
                required>
              <!--<input type="date" ng-model="date" value="{{ date | date: 'yyyy-MM-dd' }}" />-->
            </div>

            <div class="form-group">
              <label for="template">Time (Format should be HH:MM:AM/PM)</label>
              <input type="time" class="form-control" [(ngModel)]="eventEdit.eventTime" class="form-control" name="eventModel.eventTime"
                required>
              <!--<input type="date" ng-model="date" value="{{ date | date: 'yyyy-MM-dd' }}" />-->
            </div>


            <!--Category Drop Down List-->
            <div class="form-group">
              <label for="template">Category</label>
              <select [(ngModel)]="eventEdit.eventCategory.categoryId" name="eventModel.eventCategory.categoryId" class="form-control">
                <option *ngFor="let x of categoryModelList"  [ngValue]="x.categoryId">{{x.categoryTitle}}</option>
            </select>
            </div>

            <!--Group Drop Down List-->
            <div class="form-group">
              <label for="template">Group</label>

              <select [(ngModel)]="eventEdit.groupId.groupId" name="eventModel.groupId" class="form-control">
                <option *ngFor="let y of groupList" [ngValue]="y.groupId">{{y.groupTitle}}</option>
            </select>
            </div>

            <!--Event Drop Down List-->
            <div class="form-group">
              <label for="template">Event Status</label>
              <select [(ngModel)]="eventEdit.eventStatus.codeId" name="eventModel.eventStatus" class="form-control">
                <option *ngFor="let m of statusList" [ngValue]="m.codeId">{{m.codeMessage}}</option>
              </select>
            </div>



            <div class="form-group">
              <label for="template">Recipients</label>
              <input type="number" class="form-control" [(ngModel)]="eventEdit.manualCount" class="form-control" name="eventModel.manualCount"
                required>
            </div>

            <label class="control-label">Select Banner Image (Support file type - JPG)</label>
            <input type="file" accept="image/jpeg" ng2FileSelect [uploader]="uploader" />

            <table class="table">
              <thead>

              </thead>
              <tbody>
                <tr *ngFor="let item of uploader.queue" style="text-align: right">

                  <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                  <td *ngIf="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                    <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                    <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                  </td>

                </tr>
              </tbody>
            </table>

            <div style="display: none">
              <label class="control-label">Select Event Images</label>
              <input id="input-1" type="file" class="file" required><br>

              <label class="control-label">Select Event Video</label>
              <input id="input-1" type="file" class="file" required>
            </div>
          </div>

          <div class="modal-footer">
            <span><img src="assets/inlineLoader.gif" *ngIf="editOpertionProcess" style="width: 25px" /> </span>
            <button type="submit" *ngIf="mode=='edit'" [disabled]="editOpertionProcess" (click)=saveChangesEvent() class="btn btn-success">&nbsp;&nbsp;Save Changes&nbsp;&nbsp;</button>

            <button type="button" class="btn btn-default" (click)="editEventModal.hide()">Close</button>

          </div>
        </form>
        <!--################ end new report form ################-->
      </div>
    </div>
  </div>

  <!--###################### View Images Modal######################-->
  <div bsModal #viewImages="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" (click)="viewImages.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
          <h4 class="modal-title">Event Images</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb" *ngFor="let a of eventModelList;">
              <a class="thumbnail" href="#">
                    <img class="img-responsive" src={{a.eventIconPath}} alt="">
                </a>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="viewImages.hide()">Close</button>
        </div>
      </div>
    </div>
  </div>



  <div bsModal #viewInfo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

      <div class="modal-content" style="background-image: ">
        <div class="modal-header" style="background-color: #02685E;color: azure">


          <button type="button" class="close pull-right" (click)="viewInfo.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

          <h4 class="modal-title">About the Event</h4>
        </div>
        <div class="modal-body">


          <tabset>
            <tab>
              <span *tabHeading> 
                <span style="color: #02685E">Event Information </span>
              </span>
              <div style="font-family: 'Josefin Sans', sans-serif;">
                <span class="pull-right" style="color: #02685E"> <i class="fa fa-hashtag" aria-hidden="true"></i> {{eventEdit.eventCategory.categoryTitle}} </span>

                <h3 style="text-align: center">{{eventEdit.eventCaption}}</h3>

                <h4 style="text-align: center">{{eventEdit.eventMessage}}</h4>
                <ngui-map (mapClick)="onMapClick($event)" zoom="11" [center]="position" mapTypeId="terrain" style="height: 200px;">
                  <marker [position]="position"></marker>
                </ngui-map>

                <h3 style="text-align: center">At {{eventEdit.eventLocation}}</h3>

                <h4 style="text-align: center">On {{eventEdit.eventDate}} | {{eventEdit.eventTime}}</h4>

                <h3 style="text-align: center"> {{eventEdit.manualCount}} Participants</h3>

                <!-- <div class="center-block" style="border-radius: 5%; width: 75%;height: 200px; background-image: url(http://192.168.1.135:8080/Majlis_images/events/804405.jpg)"> -->

                <!-- </div> -->

              </div>
            </tab>
            <tab>
              <span *tabHeading>
              <span style="color: #02685E">  Event Comments </span>
              </span>
              <div style="font-family: 'Josefin Sans', sans-serif;">
                <span class="pull-right" style="color: #02685E"> <i class="fa fa-hashtag" aria-hidden="true"></i> {{eventEdit.eventCategory.categoryTitle}} </span>
                <span class="pull-right" style="color: #02685E;margin-right: 10px"> <i class="fa fa-hashtag" aria-hidden="true"></i> {{eventEdit.eventCaption}} </span>
                <span><img class="pull-right" *ngIf="commentsLoader" src="assets/inlineLoader.gif" style="width:15px;margin-right: 10px;margin-top: 2px" /> </span>
                <br/><br/>

                <div class="row" *ngFor="let c of commentList">
                  <div class="col-md-12">
                    <div class="col-md-1">
                      <div class="row" style="text-align: center;margin-bottom: 5px">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                      </div>
                      <div class="row" style="text-align: center">
                        {{c.commentLike}}
                      </div>
                    </div>
                    <div class="col-md-10">
                      <div class="row">
                        <h4 style="margin-top: 0">{{c.userInserted}}</h4>
                      </div>
                      <div class="row">
                        <h5 style="margin-top: 0">{{c.commentMessage}}</h5>
                      </div>
                    </div>

                    <div class="col-md-1">
                      <div class="row" style="text-align: center;margin-top: 18%;">
                        <i style="font-size: 20px" *ngIf="c.commentId!=deletedCommentId" class="btn fa fa-trash-o" aria-hidden="true" (click)="deleteComment(c.commentEventId,c.commentId)"></i>
                        <i style="font-size: 15px" class="fa fa-check" *ngIf="c.commentEventId==deleteEventId && c.commentId==deletedCommentId" aria-hidden="true"></i>

                      </div>
                    </div>

                  </div>
                </div>

              </div>


            </tab>
            <tab>
              <span *tabHeading>
              <span style="color: #02685E"> Event Photos </span>
              </span>
              <div style="font-family: 'Josefin Sans', sans-serif;">
                <span class="pull-right" style="color: #02685E"> <i class="fa fa-hashtag" aria-hidden="true"></i> {{eventEdit.eventCategory.categoryTitle}} </span>
                <span class="pull-right" style="color: #02685E;margin-right: 10px"> <i class="fa fa-hashtag" aria-hidden="true"></i> {{eventEdit.eventCaption}} </span>
                <span><img class="pull-right" *ngIf="eventImageLoader" src="assets/inlineLoader.gif" style="width:15px;margin-right: 10px;margin-top: 2px" /> </span>
                <br/><br/>

                <div class="col-md-12">

                  <div class="col-md-3" *ngFor="let m of imgArray" style="cursor: pointer">
                    <img class="img-thumbnail" [src]="m.eventImagePath" (click)="openImage(m.eventId.eventId,m.eventImageId,m.eventImagePath)"
                    />
                  </div>

                </div>

              </div>


            </tab>
            <tab>
              <span *tabHeading>
               <span style="color: #02685E">  Event Videos </span>
              </span>

              <div style="font-family: 'Josefin Sans', sans-serif;">
                <span class="pull-right" style="color: #02685E"> <i class="fa fa-hashtag" aria-hidden="true"></i> {{eventEdit.eventCategory.categoryTitle}} </span>
                <span class="pull-right" style="color: #02685E;margin-right: 10px"> <i class="fa fa-hashtag" aria-hidden="true"></i> {{eventEdit.eventCaption}} </span>
                <span><img class="pull-right" *ngIf="eventVideoLoader" src="assets/inlineLoader.gif" style="width:15px;margin-right: 10px;margin-top: 2px" /> </span>
                <br/><br/>

                <div class="col-md-12">

                  <div class="col-md-6" style="cursor: pointer" *ngFor="let m of videoList">
                    <button type="button" class="close pull-right" (click)="deleteVideo(m.eventId,m.videoId)" aria-label="Close">
                      <span style="color: #000" aria-hidden="true">&times;</span>
                    </button>
                    <video controls class="img-thumbnail">
                      <source [src]="m.videoFilePath" type="video/mp4">
                    </video>

                  </div>

                </div>

              </div>

            </tab>
            <!-- <tab>
              <span *tabHeading>
              <span style="color: #02685E">  Event Participants </span>
              </span>
              <div style="font-family: 'Josefin Sans', sans-serif;">
                <span class="pull-right" style="color: #02685E"> <i class="fa fa-hashtag" aria-hidden="true"></i> {{eventEdit.eventCategory.categoryTitle}} </span>
                <span class="pull-right" style="color: #02685E;margin-right: 10px"> <i class="fa fa-hashtag" aria-hidden="true"></i> {{eventEdit.eventCaption}} </span>
                <span><img class="pull-right" *ngIf="participantsLoader" src="assets/inlineLoader.gif" style="width:15px;margin-right: 10px;margin-top: 2px" /> </span>
                <br/><br/>

                <div class="row" *ngFor="let c of eventParticipantsList">
                  <div class="col-md-12">
                    <div class="col-md-1">
                      <div class="row" style="text-align: center;margin-bottom: 5px">
                        <i style="font-size: 20px" class="fa fa-user" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <h4 style="margin-top: 0">{{(c.mobileUser == null)? "-" : c.mobileUser }}</h4>
                      </div>
                      <div class="row">
                        <h5 style="margin-top: 0">{{c.mobileUserNo}}</h5>
                      </div>
                    </div>

                    <div class="col-md-5">
                      <button [ngClass]="{'btn btn-default ' : true,'active' : ((c.mobileUserId == statusUserId) &&  (statusAction == 'attend') )}" (click)="changeUserEventStatus($event,c.mobileUserId,'attend')" >Attending</button>
                      <button [ngClass]="{'btn btn-default ' : true,'active' : ((c.mobileUserId == statusUserId) &&  (statusAction == 'notattend'))}" (click)="changeUserEventStatus($event,c.mobileUserId,'notattend')" >Not Attending</button>
                      <button [ngClass]="{'btn btn-default ' : true,'active' : ((c.mobileUserId == statusUserId) &&  (statusAction == 'maybe'))}" (click)="changeUserEventStatus($event,c.mobileUserId,'maybe')" >Maybe</button>
                   
                    </div>

                  </div>
                </div>

              </div>


            </tab> -->
          </tabset>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="viewInfo.hide()">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div bsModal #showImages="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

      <div class="modal-content" style="background-color: #02685E;color: azure">
        <div class="modal-header" style="border: 0">
          <button type="button" class="close pull-right" (click)="showImages.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <img [src]="selectedImageUrl" class="img-responsive" />
        </div>

        <div class="modal-footer" style="border: 0">
          <img *ngIf="eventImageLoader" src="assets/inlineLoader.gif" style="width:20px;" />
          <button type="button" class="btn btn-info" style="background: #02685E" (click)="deleteSelectedImage()">Delete</button>

          <button type="button" class="btn btn-info" style="background: #02685E" (click)="showImages.hide()">Close</button>

        </div>
      </div>
    </div>
  </div>


  <div bsModal #success="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">

        <div class="modal-header" style="background-color: #449D44; color: azure">
          <button type="button" class="close pull-right" (click)="success.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
          <h4 class="modal-title">Operation Completed</h4>
        </div>
        <div class="modal-body">
          <p>{{successMessage}}</p>

        </div>

        <div class="modal-footer">

          <button type="button" class="btn btn-default" (click)="success.hide()">Close</button>
        </div>

      </div>
    </div>
  </div>


  <div bsModal #fail="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">

        <div class="modal-header" style="background-color: chocolate;color: azure">
          <button type="button" class="close pull-right" (click)="fail.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
          <h4 class="modal-title">Operation Failed!</h4>
        </div>
        <div class="modal-body">
          <p>{{failMessage}}</p>

        </div>

        <div class="modal-footer">

          <button type="button" class="btn btn-default" (click)="fail.hide()">Close</button>
        </div>

      </div>
    </div>
  </div>


  <div bsModal #confirmation="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">

        <div class="modal-header" style="background-color: #02685E; color: azure">
          <button type="button" class="close pull-right" (click)="sendNotification.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
          <h4 class="modal-title">Delete Operation</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure that you want to delete this {{deleteType}}?</p>

        </div>

        <div class="modal-footer">
          <span><img src="assets/inlineLoader.gif" *ngIf="confirmLoader" style="width: 25px" /> </span>

          <button type="button" class="btn btn-success" style="background-color: #02685E; color: azure" [disabled]="confirmLoader"
            (click)="confirmDelete()">Sure</button>

          <button type="button" class="btn btn-default" (click)="confirmation.hide()">Close</button>
        </div>

      </div>
    </div>
  </div>






</div>