
<nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
  <div class="navbar-brand text-hide" href="#"><img src="assets/img/MajlisLogoNav.png"></div>
  <ul class="nav navbar-nav navbar-right">

    <li><a href="#">{{userId}}</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
  </ul>
</nav>

