<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>
<div class="container">
    <div class="page-title">
        <h2>Mobile User Management</h2>
    </div>


    <div class="panel panel-default">


        <table class="table table-hover">
            <thead style="background-color: #02685E;color: azure;box-shadow: 0px 5px 15px#02685E">
                <tr>
                    <th></th>
                    <th>User</th>
                    <th>Mobile No</th>
                    <th>Date of Birth</th>
                    <th>Date of Registration</th>
                    <th>Assign Groups</th>
                    <!--<th>Status</th>-->
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let a of mobileUserModel;">
                    <td>
                        <!--<div class="circle-user col-sm-1">{{myName}}</div>-->
                    </td>
                    <td>
                        <div class="col-sm-12 user-id">{{a.mobileUserId}}</div>
                        <div class="col-sm-12 user-name">{{a.mobileUserName}}</div>
                    </td>
                    <td>
                        <div class="col-sm-12 mobile-no">{{a.mobileUserMobileNo}}</div>
                    </td>
                    <td>
                        <div class="col-sm-12 mobile-no">{{a.mobileUserDob}}</div>
                    </td>
                    <td>
                        <div class="col-sm-12 mobile-no">{{a.mobileUserDateRegistration}}</div>
                    </td>
                    <td>
                            <button class="btn btn-primary" (click)="getMobileGroupsById(a)">
                            Assign
                        </button>
                    </td>
                </tr>


            </tbody>
        </table>

    </div>





    <div bsModal #assignToGroup="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md">

            <div class="modal-content">
                <form #assignGroupForm="ngForm" (ngSubmit)="submitForm($e)">

                    <div class="modal-header">
                        <button type="button" class="close pull-right" (click)="assignToGroup.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        <h4 class="modal-title">Assign Groups</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row" *ngFor="let a of groupModel;">
                            <div class="col-sm-12"><br></div>
                            <div class="col-sm-1"><img class="circle-image pull-left" [src]="a.groupIconPath"></div>

                            <div class="col-sm-8">
                                <div class="col-sm-12">
                                    {{a.groupTitle}} </div>
                        
                            </div>
                            <div class="col-sm-3 pull-right">
                          
                             <label class="switch">
                            <input type="checkbox" (change)="assignGroup(a.groupId,$event)" [checked]="!getUserGroupStatus(a.groupId)" name="template-status">
                            <div class="slider round"></div>
                        </label>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <!--#################Make Group Admin Modal###############-->
    <div bsModal #makeGroupAdmin="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <form #makeAdminForm="ngForm" (ngSubmit)="submitForm($e)">
                    <!--########## start form ########-->
                    <div class="modal-header">
                        <button type="button" class="close pull-right" (click)="makeGroupAdmin.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        <h4 class="modal-title">Assign Group Admin</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row" *ngFor="let a of fakeArray1;">
                            <div class="col-sm-12"><br></div>
                            <div class="col-sm-1">
                                <div class="circle-user col-sm-1 pull-left">{{myName}}</div>
                            </div>

                            <div class="col-sm-7">
                                <div class="col-sm-12">
                                    This is the title of group - This is the title of group </div>
                            </div>
                            <div class="col-sm-2">
                                <label class="switch">
                                <input type="checkbox">
                                <div class="slider round"></div>
                            </label>
                            </div>
                            <div class="col-sm-2">
                                <!--<a class="btn pull-right" (click)="makeGroupAdminSetting.show()">Setting</a>-->

                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="makeGroupAdmin.hide()">Close</button>
                        <button type="button" class="btn btn-success">Save changes</button>
                    </div>
                </form>
                <!--################ end form ################-->
            </div>
        </div>
    </div>

    <!--#################Make Group Admin Setting Modal###############-->
    <div bsModal #makeGroupAdminSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md">

            <div class="modal-content">
                <form #adminSettingForm="ngForm" (ngSubmit)="btnUSubmit()">
                    <!--########## start form ########-->
                    <div class="modal-header">
                        <button type="button" class="close pull-right" (click)="makeGroupAdminSetting.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        <h4 class="modal-title">Setting</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="template">First Name</label>
                            <input type="text" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="template">Last Name</label>
                            <input type="text" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="template">Telephone</label>
                            <input type="text" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="template">Email</label>
                            <input type="text" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="template">User Status</label>
                            <input type="text" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="template">Address</label>
                            <input type="text" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="template">Expiry Date</label>
                            <input type="date" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="template">No. of allowed notifications ("-1" if unlimited)</label>
                            <input type="text" class="form-control" required>
                        </div>


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="makeGroupAdminSetting.hide()">Close</button>
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </div>
                </form>
                <!--################ end form ################-->
            </div>
        </div>
    </div>



    <!--###################Show Groups Modal#######################-->
    <div bsModal #showGroups="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" (click)="showGroups.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                    <h4 class="modal-title">Groups</h4>
                </div>
                <div class="modal-body">



                    <div class="row" *ngFor="let a of fakeArray1;">
                        <div class="col-sm-12"><br></div>
                        <div class="col-sm-1"><img class="circle-image pull-left" src="https://i.ytimg.com/vi/AZj9EaZRGV8/maxresdefault.jpg" /></div>

                        <div class="col-sm-8">
                            <div class="col-sm-12">
                                This is the title of group - This is the title of group </div>
                            <div class="col-sm-12">
                                This is the description of group
                            </div>
                        </div>
                        <div class="col-sm-3 pull-right">
                            Group Admin
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="showGroups.hide()">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--####################Show Category Modal#######################-->
    <div bsModal #showCategory="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" (click)="showCategory.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                    <h4 class="modal-title">Categories</h4>
                </div>
                <div class="modal-body">



                    <div class="row" *ngFor="let a of fakeArray1;">
                        <div class="col-sm-12"><br></div>

                        <div class="col-sm-12">
                            <div class="cat-list col-sm-12 text-center ">
                                Birthday
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="showCategory.hide()">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>