<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>
<div class="container">
    <div class="page-title">
        <h2>User Management <span><img src="assets/inlineLoader.gif" *ngIf="gridLoader" style="width: 25px" /> </span></h2>
    </div>
    <div class="pull-right"><button class="btn btn-success" (click)="openCreateUser()">New User</button></div><br><br><br>
    <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
    <div class="panel panel-default">

        <img class="center-block" *ngIf="isLoading" style="margin-top:300px" src="assets/img/MajlisLogoNav.png" />
        <img class="center-block" *ngIf="isLoading" style="margin-top:20px" src="assets/img/loader2.gif" />

        <table class="table table-hover" *ngIf="!isLoading">
            <thead style="background-color: #02685E;color: azure;box-shadow: 0px 5px 15px#02685E">
                <tr>
                    <!--<th></th>-->
                    <th>User</th>
                    <th>Assign Groups</th>
                    <!--<th>Assign Group Admin</th>-->
                    <th>Update</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let a of arrNewUserModel">
                    <!--<td>-->
                    <!--<div class="circle-user col-sm-1">{{myName}}</div>-->
                    <!--</td>-->
                    <td>
                        <div class="col-sm-12 user-name">{{a.user.userId}}</div>
                        <div class="col-sm-12 user-email">{{a.user.email}}</div>
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="getUserDetailsById(a.user.userId)">
                            Assign
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="getUserId(a)">
                            Update
                        </button>
                    </td>
                    <td>
                        <i *ngIf="a.user.status == 1" class="fa fa-check" aria-hidden="true"></i>
                        <i *ngIf="a.user.status !=1" class="fa fa-times" aria-hidden="true"></i>
                    </td>

                </tr>


            </tbody>
        </table>

    </div>




    <!--###########Assing to group modal#############-->
    <div bsModal #assignToGroup="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md">

            <div class="modal-content">
                <form #assignGroupForm="ngForm" (ngSubmit)="submitForm($e)">
                    <!--########## start form ########-->
                    <div class="modal-header" style="background-color: #02685E;color: azure">
                        <button type="button" class="close pull-right" (click)="assignToGroup.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        <h4 class="modal-title">Assign Groups</h4>
                    </div>
                    <div class="modal-body">

                        <div *ngFor="let a of allGroups;" class="row">

                            <div class="col-md-9">

                                <img class="circle-image " [src]="a.groupIconPath" />
                                <span style="display: inline-block;vertical-align: middle;line-height: normal;font-weight: bold"> {{a.groupTitle}} </span>
                            </div>
                            <div class="col-md-2">
                                <label class="switch" *ngIf="a.groupId!=selectedGroupId">
                            <input type="checkbox" (change)="changeGroupAdmin($event,a.groupId)" [checked]="getUserGroupStatus(a.groupId)"  name="template-status">
                            <div class="slider round"></div>
                                </label>
                                <img src="assets/inlineLoader.gif" *ngIf="a.groupId==selectedGroupId" class="pull-right" style="width: 20px" /> 

                            </div>

                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="assignToGroup.hide()">Close</button>
                    </div>
                </form>
                <!--################ end form ################-->
            </div>
        </div>
    </div>

    <!--#################Make Group Admin Modal###############-->
    <div bsModal #makeGroupAdmin="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <form #makeAdminForm="ngForm" (ngSubmit)="submitForm($e)">
                    <!--########## start form ########-->
                    <div class="modal-header">
                        <button type="button" class="close pull-right" (click)="makeGroupAdmin.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        <h4 class="modal-title">Assign Group Admin</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row" *ngFor="let a of fakeArray1;">
                            <div class="col-sm-12"><br></div>
                            <div class="col-sm-1">
                                <div class="circle-user col-sm-1 pull-left">{{myName}}</div>
                            </div>

                            <div class="col-sm-7">
                                <div class="col-sm-12">
                                    This is the title of group - This is the title of group </div>
                            </div>
                            <div class="col-sm-2">
                                <label class="switch">
                                <input type="checkbox">
                                <div class="slider round"></div>
                            </label>
                            </div>
                            <div class="col-sm-2">
                                <!--<a class="btn pull-right" (click)="makeGroupAdminSetting.show()">Setting</a>-->

                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="makeGroupAdmin.hide()">Close</button>
                        <button type="button" class="btn btn-success">Save changes</button>
                    </div>
                </form>
                <!--################ end form ################-->
            </div>
        </div>
    </div>

    <!--#################Make Group Admin Setting Modal###############-->
    <div bsModal #makeGroupAdminSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md">

            <div class="modal-content">
                <form #adminSettingForm="ngForm" (ngSubmit)="btnUSubmit()">
                    <!--########## start form ########-->
                    <div class="modal-header" style="background-color: #02685E;color: azure">
                        <button type="button" class="close pull-right" (click)="makeGroupAdminSetting.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        <h4 class="modal-title">Update</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="template">First Name</label>
                            <input type="text" [(ngModel)]="user.user.firstName" name="userModelDetail.firstName" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="template">Last Name</label>
                            <input type="text" [(ngModel)]="user.user.lastName" name="userModelDetail.lastName" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="template">Telephone</label>
                            <input type="text" max="999999999999999" [(ngModel)]="user.user.telephoneNumber" name="userModelDetail.telephoneNumber" class="form-control"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="template">Email</label>
                            <input type="text" [(ngModel)]="user.user.email" name="userModelDetail.email" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="template">User Status</label>
                            <select [(ngModel)]="user.user.status" name="newUserModel.user.status" class="form-control">
                                <option  [value]="2">Inactive</option>
                                <option  [value]="1">Active</option>
                            
                        </select>
                        </div>

                        <div class="form-group">
                            <label for="template">Address</label>
                            <input type="text" [(ngModel)]="user.user.address" name="userModelDetail.address" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="template">Expiry Date</label>
                            <input type="date" [(ngModel)]="user.expiryDate" name="userModelDetail.expiryDate" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="template">No. of allowed notifications ("-1" if unlimited)</label>
                            <input type="text" [(ngModel)]="user.allowedNotificationCnt" name="allowedNotificationCnt" class="form-control" required>
                        </div>


                    </div>

                    <div class="modal-footer">
                        <span><img src="assets/inlineLoader.gif" *ngIf="updateUserLoade" style="width: 25px" /> </span>
                        <button type="button" class="btn btn-default" (click)="makeGroupAdminSetting.hide()">Close</button>
                        <button type="submit" class="btn btn-success" [disabled]="updateUserLoade" (click)="saveUserChanges(event)">Save changes</button>
                    </div>
                </form>
                <!--################ end form ################-->
            </div>
        </div>
    </div>


    <!--   New User Modal-->
    <div bsModal #makeUserSetting="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md">

            <div class="modal-content">
                <form #makeUserSettingForm="ngForm" (ngSubmit)="btnUSubmit()">
                    <!--########## start form ########-->
                    <div class="modal-header" style="background-color: #02685E;color: azure">
                        <!-- <img *ngIf="isLoading==true" src="../assets/img/loader2.gif"/> -->
                        <button type="button" class="close pull-right" (click)="makeUserSetting.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                        <h4 class="modal-title">Create User</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="template">User Name</label>
                            <input placeholder="This will be the User ID of user. User should log with this User ID" type="text" [(ngModel)]="newUserModel.user.userId"
                                name="newUserModel.user.userId" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="template">First Name</label>
                            <input type="text" [(ngModel)]="newUserModel.user.firstName" name="newUserModel.user.firstName" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="template">Last Name</label>
                            <input type="text" [(ngModel)]="newUserModel.user.lastName" name="newUserModel.user.lastName" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="template">Telephone</label>
                            <input type="number" [(ngModel)]="newUserModel.user.telephoneNumber" name="newUserModel.user.telephoneNumber" class="form-control"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="template">Email</label>
                            <input type="text" [(ngModel)]="newUserModel.user.email" name="newUserModel.user.email" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="template">User Status</label>
                            <!--<input type="text" [(ngModel)]="newUserModel.user.status" name="newUserModel.user.status" class="form-control" required>-->
                            <select [(ngModel)]="newUserModel.user.status" name="newUserModel.user.status" class="form-control">
                            <option  [ngValue]="1">Active</option>
                            <option  [ngValue]="2">Inactive</option>
                        </select>

                        </div>

                        <div class="form-group">
                            <label for="template">Address</label>
                            <input type="text" [(ngModel)]="newUserModel.user.address" name="newUserModel.user.address" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="template">Allowed Notification Count</label>
                            <input type="number" [(ngModel)]="newUserModel.allowedNotificationCnt" name="newUserModel.allowedNotificationCnt" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="template">Expiry Date</label>
                            <input type="date" [(ngModel)]="newUserModel.expiryDate" name="newUserModel.expiryDate" class="form-control">
                        </div>


                    </div>

                    <div class="modal-footer">
                        <span><img src="assets/inlineLoader.gif" *ngIf="createUserLoader" style="width: 25px" /> </span>

                        <button type="reset" class="btn btn-default" (click)="makeUserSetting.hide()">Close</button>
                        <button type="submit" class="btn btn-success" [disabled]="createUserLoader" (click)="createUser(evt)">Save changes</button>
                    </div>
                </form>
                <!--################ end form ################-->
            </div>
        </div>
    </div>
    <!--   End User Modal-->

    <!--####################Show Update Modal#######################-->
    <div bsModal #showCategory="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" (click)="showCategory.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                    <h4 class="modal-title">Categories</h4>
                </div>
                <div class="modal-body">



                    <div class="row" *ngFor="let a of fakeArray1;">
                        <div class="col-sm-12"><br></div>

                        <div class="col-sm-12">
                            <div class="cat-list col-sm-12 text-center ">
                                Birthday
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="showCategory.hide()">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>


<div bsModal #success="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">

        <div class="modal-content">

            <div class="modal-header" style="background-color: #449D44; color: azure">
                <button type="button" class="close pull-right" (click)="success.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                <h4 class="modal-title">Operation Completed</h4>
            </div>
            <div class="modal-body">
                <p>{{successMessage}}</p>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-default" (click)="success.hide()">Close</button>
            </div>

        </div>
    </div>
</div>


<div bsModal #fail="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">

        <div class="modal-content">

            <div class="modal-header" style="background-color: chocolate;color: azure">
                <button type="button" class="close pull-right" (click)="fail.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                <h4 class="modal-title">Operation Failed!</h4>
            </div>
            <div class="modal-body">
                <p>{{failMessage}}</p>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-default" (click)="fail.hide()">Close</button>
            </div>

        </div>
    </div>
</div>