<app-pagetop></app-pagetop>
<app-side-bar></app-side-bar>


<div class="container">
  <div class="page-title">
    <h2>Birthday Templates</h2>
  </div>
  <div class="pull-right"><button class="btn btn-primary" (click)="addTemplate.show()">New Template</button></div><br><br><br>
  <div class="panel panel-default">
<img class="center-block" *ngIf="showLoader" style="margin-top:300px" src="assets/img/MajlisLogoNav.png" />
<img class="center-block" *ngIf="showLoader" style="margin-top:20px" src="assets/img/loader2.gif" />
    <table class="table table-hover" *ngIf="!showLoader">
      <thead style="background-color: #02685E;color: azure;box-shadow: 0px 5px 15px#02685E">
        <tr>
          <th></th>
          <th>Title</th>
          <th>Message</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of birthdayModelArr;">
          <td>
            <img class="circle-image pull-left" src="{{a.templateIconPath}}"
            />
          </td>
          <td>
            <div class="col-sm-12 temp-title">
              {{a.templateTitle}}
            </div>
          </td>
          <td>
            <div class="col-sm-12 temp-msg">
            {{a.templateMessage}}
            </div>
          </td>
          <td>
            <label class="switch">
                            <input type="radio"(click)="selectTemplate(a.templateId)"  [checked]="a.templateStatus.codeId== 13" name="template-status">
                            <div class="slider round"></div>
                        </label>
          </td>
        </tr>


      </tbody>
    </table>
  </div>

  <!--############## Add new Template ################-->
  <div bsModal #addTemplate="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">

        <form> <!--############## start form ###############-->
        <div class="modal-header">
          <button type="button" class="close pull-right" (click)="addTemplate.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
       <div class="alert alert-success" *ngIf="isSuccess">
        <strong>Success!</strong> You have successfully created New Template.
      </div>    
          <h4 class="modal-title">New Template</h4>
          
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="template">Title</label>
            <input type="text" name="Title" [(ngModel)]="BirthdayModel.templateTitle" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="template">Message</label>
            <input type="text" name="Message" [(ngModel)]="BirthdayModel.templateMessage" class="form-control" required>
          </div>

          <label class="control-label">Select Template Image (Supported File type - JPG)</label>
           <input type="file" accept="image/jpeg" ng2FileSelect [uploader]="uploader" />
            <div class="col-md-9" style="margin-bottom: 40px">

              <table class="table" style="margin-bottom: 5px">
                <thead>
                  <tr>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of uploader.queue">
                    <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.isHTML5">
                      <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                      </div>
                    </td>
                    <td class="text-center">
                      <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                      <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                      <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                      <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                      <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                      <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                    <!--<td>
                      <!--<input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />-->
                    <!--<input type="file" onchange="previewFile()"><br>-->
                    <!--<img src="" height="200" alt="Image preview...">-->
                    <!--</td>-->
                  </tr>
                </tbody>
              </table>

              <div>

              </div>

            </div>
            <div >


             
            </div>

          </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="addTemplate.hide()">Close</button>
          <button type="submit" class="btn btn-primary" (click)="saveBirthdayTemplate()" >&nbsp;&nbsp;Add&nbsp;&nbsp;</button>
        </div>
        </form><!--############## end form ################-->
      </div>
    </div>
  </div>
</div>