
.sebm-google-map-container {
  height: 300px;
}
.main{
      padding: 10px 10px 0 10px;
      position: absolute;
			width: calc(100% - 51px); 
			margin-left: 50px;
			float: right;
      overflow-x:hidden;
}


.dash-panel{
background: #009688;
}

.dash-panel-count {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.dash-panel-footer{
    background: #019d8e;
}
.panel-footer{
border: 0;
}
.page-title{
  background: #fff;
}
.page-title h2{
  color:#b7b7b7;
  padding-top:-100px;
}
ngui-map{
  height: 400px;
  margin-top: -5px;
}
#pie_chart{
  display: block; 
   margin: 0 auto;
}

.modal-dialog{
  width: 50%;
  top: 20%;
}



/*toggle styles*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.modal {
   overflow: scroll;
  }

ul {
  display: inline-block;
  list-style: square;
  padding:0;
  margin-top:10px;
  font-size: 12px;
  text-align: left;
}

li { 
  padding-left: 1em; 
  text-indent: -.7em;
 }

