<app-pagetop></app-pagetop>
<app-side-bar></app-side-bar>

<br><br>
<div class="main">
  <div class="page-title">
    <h2>Dashboard</h2>
    

  </div>

  <ngui-map zoom="3" center="24.3340655, 51.6955822">
    <div id="floating-panel">
    </div>
    <heatmap-layer [data]="points"></heatmap-layer>
  </ngui-map>

  <br><br>
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="dash-panel" style="cursor: pointer" (click)="openGroupDetails()">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <img src="assets/img/icons/MajlisUserGroup.png" height="50px" width="50px" />
            </div>
            <div class="col-xs-9 text-right">
              <div class="dash-panel-count">{{(dashboardItem.group_active)}}</div>
            </div>
          </div>
        </div>
        <div class="panel-footer dash-panel-footer">
          <span class="pull-left">Total Groups Count</span>
          <span class="pull-right">
          <img src="assets/img/icons/MajlisOk.png" height="20px" width="20px"/>
        </span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="dash-panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <img src="assets/img/icons/MajlisGroup.png" height="50px" width="50px" />
            </div>
            <div class="col-xs-9 text-right">
              <div class="dash-panel-count">{{dashboardItem.group_pending}}</div>
            </div>
          </div>
        </div>
        <div class="panel-footer dash-panel-footer">
          <span class="pull-left">Pending Group Requests</span>
          <span class="pull-right">
          <img src="assets/img/icons/MajlisPending.png" height="20px" width="20px"/>
        </span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6" style="cursor: pointer"  (click)="openEventPage()">
      <div class="dash-panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <img src="assets/img/icons/MajlisEvent.png" height="50px" width="50px" />
            </div>
            <div class="col-xs-9 text-right">
              <div class="dash-panel-count">{{dashboardItem.event_active}}</div>
            </div>
          </div>
        </div>
        <div class="panel-footer dash-panel-footer">
          <span class="pull-left">Active Events</span>
          <span class="pull-right">
          <img src="assets/img/icons/MajlisOk.png" height="20px" width="20px"/>
        </span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="dash-panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <img src="assets/img/icons/MajlisEventPending.png" height="50px" width="50px" />
            </div>
            <div class="col-xs-9 text-right">
              <div class="dash-panel-count">{{dashboardItem.tot_notification}}/{{dashboardItem.tot_notification_limit}}</div>
            </div>
          </div>
        </div>
        <div class="panel-footer dash-panel-footer">
          <span class="pull-left">Remain Notification Count</span>
          <span class="pull-right">
          <img src="assets/img/icons/MajlisPending.png" height="20px" width="20px"/>
        </span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

  <br><br>
  <div class="row">
    <div class="col-sm-5 pull-left" style="margin-left: 15px; padding-top:10px; padding-bottom:10px; border-radius: 5px; border: 2px solid #cccccc;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <div style=" border-bottom: 1px solid; border-color:#ccc;">Category</div>
      <div align="right">
        <ul>
          <li *ngFor="let c of chartCategoryModel;" style='color:"{{c.color}}"'>{{c.categoryName}}</li>
          <!--id="c.id" style='color:"{{c.color}}"'-->
          <!--<li style="color: #6eba8c;">Category 1</li>
          <li style="color: #b9f2a1;">Category 1</li>
          <li style="color: #10c4b5;">Category 1</li>
          <li style="color: #005562;">Category 1</li>-->
        </ul>
      </div>
      <div id="pie_chart" [chartData]="pie_ChartData" [chartOptions]="pie_ChartOptions" chartType="PieChart" GoogleChart align="center"></div>

    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5 pull-right" style="margin-right: 15px; padding-top:10px; padding-bottom:10px; border-radius: 5px; border: 2px solid #cccccc;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <div style=" border-bottom: 1px solid; border-color:#ccc;">Top Group</div>

      <div align="right">
        <ul>
          <li style="color: #009688;" *ngFor="let g of chartGroupModel;">{{g.groupName}}</li><br>
          <!--<li style="color: #6eba8c;">Category 1</li>
          <li style="color: #b9f2a1;">Category 1</li>
          <li style="color: #10c4b5;">Category 1</li>
          <li style="color: #005562;">Category 1</li>-->
        </ul>
      </div>
      <div id="bar_chart" [chartData]="bar_ChartData" [chartOptions]="bar_ChartOptions" chartType="BarChart" GoogleChart></div>
    </div>
  </div>
  <br><br><br>
</div>
