<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>

<div class="container">
  <div class="page-title">
    <h2>Group Management
      <span><img src="assets/inlineLoader.gif" *ngIf="userAcceptLoader" style="width: 25px" /> </span>
    </h2>
  </div>
  <div class="pull-right"><button class="btn btn-success" *ngIf="!dashview" (click)="openNewGroup()">New Group</button></div><br><br><br>
  <div class="panel panel-default">
    <img class="center-block" *ngIf="showLoader" style="margin-top:300px" src="assets/img/MajlisLogoNav.png" />
    <img class="center-block" *ngIf="showLoader" style="margin-top:20px" src="assets/img/loader2.gif" />
    <table class="table table-hover" *ngIf="!showLoader">
      <thead style="background-color: #02685E;color: azure;box-shadow: 0px 5px 15px#02685E">
        <tr>
          <th></th>
          <th>Group</th>
          <!-- <th>Location</th> -->
          <th>Public Level</th>
          <th>Group Requests</th>
          <th>View</th>
          <th>Status</th>
          <th *ngIf="!dashview"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of groupModel;">
          <td>
            <img class="circle-image pull-left" [src]="a.groupIconPath" />
          </td>
          <td>
            <div class="col-sm-12 group-name">
              {{a.groupTitle}}
            </div>
            <div class="col-sm-12 group-desc">
              {{a.groupDescription}}
            </div>
          </td>
         
          <td>
            {{a.groupPublicLevel.codeMessage}}
          </td>
          <td>
            <button [disabled]="a.groupPublicLevel.codeId!=5" class="btn btn-primary" (click)="getGroupAcceptData(a.groupId)">
            Accept
          </button>
          </td>
          <td>
            <button class="btn btn-primary" (click)="viewGroupDetail(a.groupId)">
            View
          </button>
          </td>
          <td>
            <span *ngIf="a.groupStatus.codeId==3">Active</span>
            <span *ngIf="a.groupStatus.codeId==2">Inactive</span>
          </td>
          <td *ngIf="!dashview">
            <button class="btn btn-primary" (click)="getGroupDetailsById(a.groupId)">
            Edit
          </button>
          </td>

        </tr>


      </tbody>
    </table>

  </div>


  <!--###################### Edit Group Modal######################-->
  <div bsModal #editGroup="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">

        <form #editGroupForm="ngForm" (ngSubmit)="fireFormAction(evt)">
          <!--####### start form #######-->

          <div class="modal-header">

            <button type="button" class="close pull-right" (click)="editGroup.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
                                </button>
            <h4 class="modal-title" *ngIf="!viewMode" style="display: inline">{{modalTitle}}</h4>
             <h4 class="modal-title" *ngIf="viewMode" style="display: inline">Group Information</h4>
            <img src="assets/img/loader3.gif" *ngIf="formloaded" style="height: 35px;" />
          </div>
          <div class="modal-body">

            <div *ngIf="!isSuccess">

              <div class="form-group">
                <label for="template">Title</label>
                <input [readonly]="viewMode" required type="text" [(ngModel)]="groupModelDetail.groupTitle" name="groupModelDetail.groupTitle" class="form-control"
                  required>
              </div>

              <div class="form-group">
                <label for="comment">Description</label>
                <textarea [readonly]="viewMode"  required [(ngModel)]="groupModelDetail.groupDescription" name="groupModelDetail.groupDescription" class="form-control"
                  rows="5" required></textarea>
              </div>

              <div class="form-group">
                <label for="template">Country</label>
                <select [disabled]="viewMode" (change)="getDistrictList()" required [(ngModel)]="groupModelDetail.groupCountry" name="groupModelDetail.groupCountry" class="form-control">
                <option *ngFor="let k of arrCountries" [value]="k.alpha2Code">{{k.name}}</option>
            </select>
              </div>

              <div class="form-group">
                <label for="template">District</label>
                <select [disabled]="viewMode" (change)="getCityList()" required [(ngModel)]="groupModelDetail.groupDistrict" name="groupModelDetail.groupDistrict" class="form-control"
                  required>
                  <option *ngFor="let m of provinces" >{{m.provinceName}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="template">City</label>
                <select [disabled]="viewMode"  required [(ngModel)]="groupModelDetail.groupCity" name="groupModelDetail.groupCity" class="form-control"
                  required>
                   <option *ngFor="let m of cities" >{{m.cityName}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="template">Public Level</label>
                <select [disabled]="viewMode"  required class="form-control" (change)="changePublicLevel($event.target)" name="groupModelDetail.groupPublicLevel">
                <option *ngFor="let m of arrGroupPublic" [selected]="m.codeSeq==groupModelDetail.groupPublicLevel.codeSeq" [ngValue]="m">{{m.codeMessage}}</option>
                <!--<option value="1" selected>val 1</option>
                  <option value="2">val 2</option>-->
              </select>
              </div>
              <br><br>

              <div class="form-group">
                <label for="template">Group Status</label>
                <select [disabled]="viewMode"  required class="form-control" name="groupModelDetail.groupStatus" (change)="changeGroupStatus($event.target)">
                <option *ngFor="let m of arrGroupActiveStatus" [selected]="m.codeSeq == groupModelDetail.groupStatus.codeSeq" [ngValue]="m">{{m.codeMessage}}</option>
              </select>
              </div>
              <br><br>


              <div class="form-group">
                <label for="template">Expiry date</label>
                <input [readonly]="viewMode" required type="date" [(ngModel)]="groupModelDetail.expiryDate" name="groupModelDetail.expiryDate" class="form-control"
                  required>
              </div>

              <label *ngIf="!viewMode" class="control-label">Select Icon (Support file type - JPG)</label>
              <input *ngIf="!viewMode" type="file" accept="image/jpeg" ng2FileSelect [uploader]="uploader" />

              <table class="table" *ngIf="!viewMode">
                <thead>
                  <tr>
                    <!--<th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>-->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of uploader.queue">
                    <!-- <td><strong>{{ item?.file?.name }}</strong></td> -->
                    <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.isHTML5">
                      <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                      </div>
                    </td>
                    <td style="text-align: right">
                      <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                      <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                      <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap style="text-align: right; width: 150px">
                      <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                      <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                      <!-- <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button> -->
                    </td>
                    <!--<td>
                      <!--<input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />-->
                    <!--<input type="file" onchange="previewFile()"><br>-->
                    <!--<img src="" height="200" alt="Image preview...">-->
                    <!--</td>-->
                  </tr>
                </tbody>
              </table>
            </div>

            <div *ngIf="isSuccess">

              <div style="text-align: center">{{successMessage}}</div>

            </div>
            <!--<input type="hidden" name=""-->
          </div>

          <div class="modal-footer">
            <img class="pull-left" *ngIf="serviceProgress" src="assets/img/loader2.gif" />
            <button  class="btn btn-default" type="button" (click)="editGroup.hide()">Close</button>
            <button type="submit" *ngIf="!isSuccess && operationType == 'insert' && !viewMode" [disabled]="serviceProgress" class="btn btn-success">&nbsp;&nbsp;Create&nbsp;&nbsp;</button>
            <button type="submit" *ngIf="!isSuccess && operationType == 'update' && !viewMode" [disabled]="serviceProgress" class="btn btn-success">&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
          </div>

        </form>
        <!--############ end of form #############-->
      </div>
    </div>
  </div>


  <!-- ================================Accept user Modal -->



  <div bsModal #acceptUsers="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">

      <div class="modal-content">


        <div class="modal-header" style="background-color: #449D44;color: azure">

          <button type="button" class="close pull-right" (click)="acceptUsers.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
                                </button>
          <h4 class="modal-title" style="display: inline">Accept Pending Requests</h4>


        </div>
        <div class="modal-body">

          <table style="width: 100%">
            <thead>
              <th>Name</th>
              <th>Date of Birth</th>
              <th>Country</th>
              <th>Province</th>
              <th>City</th>
              <th></th>
            </thead>
            <tbody>

              <tr *ngFor="let m of arrMobile">
                <td>{{(m.mobileUserName == null)?"-":m.mobileUserName }}</td>
                <td>{{(m.mobileUserDob == null)?"-":m.mobileUserDob }}</td>
                <td>{{getCountry(m.mobileUserCountry)}}</td>
                <td>{{(m.mobileUserProvince == null) ? "-" : m.mobileUserProvince}}</td>
                <td>{{(m.mobileUserCity==null) ? "-" : m.mobileUserCity}}</td>
                <td>
                  <button class="btn btn-default" *ngIf="!addUserLoader" type="button" (click)="addUserToGroup(m.mobileUserId)">Accept</button>
                  <img src="assets/inlineLoader.gif" *ngIf="addUserLoader && m.mobileUserMobileNo== selectedUser" style="width: 25px" />

                </td>
              </tr>

            </tbody>
          </table>

        </div>

        <div class="modal-footer">
          <button class="btn btn-default" type="button" (click)="acceptUsers.hide()">Close</button>
        </div>

      </div>
    </div>
  </div>


</div>


<div bsModal #noUsers="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">

      <div class="modal-header" style="background-color: #286090; color: azure">
        <button type="button" class="close pull-right" (click)="noUsers.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
        <h4 class="modal-title">Information</h4>
      </div>
      <div class="modal-body">
        <p>This group does not have any pending requests</p>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-default" (click)="noUsers.hide()">Close</button>
      </div>

    </div>
  </div>
</div>


<div bsModal #success="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">

      <div class="modal-header" style="background-color: #449D44; color: azure">
        <button type="button" class="close pull-right" (click)="success.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
        <h4 class="modal-title">Operation Completed</h4>
      </div>
      <div class="modal-body">
        <p>{{successMessage}}</p>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-default" (click)="success.hide()">Close</button>
      </div>

    </div>
  </div>
</div>


<div bsModal #fail="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">

    <div class="modal-content">

      <div class="modal-header" style="background-color: chocolate;color: azure">
        <button type="button" class="close pull-right" (click)="fail.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
        <h4 class="modal-title">Operation Failed!</h4>
      </div>
      <div class="modal-body">
        <p>{{failMessage}}</p>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-default" (click)="fail.hide()">Close</button>
      </div>

    </div>
  </div>
</div>




