<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>

<div class="container">
    <div class="page-title">
        <h2>Category Management</h2>
    </div>
    <div class="pull-right"><button class="btn btn-success" (click)="openCategoryForm('insert','')">New Category</button></div><br><br><br>
    <div class="panel panel-default">
        <img class="center-block" *ngIf="showLoader" style="margin-top:300px" src="assets/img/MajlisLogoNav.png" />
        <img class="center-block" *ngIf="showLoader" style="margin-top:20px" src="assets/img/loader2.gif" />
        <table class="table table-hover" *ngIf="!showLoader">
            <thead style="background-color: #02685E;color: azure;box-shadow: 0px 5px 15px#02685E">
                <tr>
                    <th></th>
                    <th>Category</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of categoryModel">
                    <td>
                        <img class="circle-image pull-left" [src]="c.categoryIconPath" />
                    </td>
                    <td>
                        <div class="col-sm-12 cat-name">
                            {{c.categoryTitle}}
                        </div>
                        <div class="col-sm-12 cat-desc">
                            {{c.categoryDescription}}
                        </div>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-ok" *ngIf="getStatusOfUser(c.categoryStatus.codeSeq).codeSeq==1"></span>
                        <span class="glyphicon glyphicon-remove" *ngIf="getStatusOfUser(c.categoryStatus.codeSeq).codeSeq==2"></span>
                    </td>
                    <td>
                        <!--<button class="btn btn-primary" (click)="editCategory.show()">-->
                        <button class="btn btn-primary" (click)="openCategoryForm('update',c.categoryId)">
                            Edit
                        </button>
                    </td>
                </tr>


            </tbody>
        </table>

    </div>


    <!--############## Add new Category ################-->
    <div bsModal #addCategory="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">

            <div class="modal-content">

                <form #newCategoryForm="ngForm" (ngSubmit)="fireFormAction($e)">
                    <!--########## start form ########-->
                    <div class="modal-header">
                        <button type="button" class="close pull-right" (click)="addCategory.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        <h4 class="modal-title">{{formTitle}}</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="template">Title</label>
                            <input type="text" [(ngModel)]="categoryModelDeatail.categoryTitle" name="categoryModelDetail.categoryTitle" class="form-control"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="template">Description</label>
                            <textarea [(ngModel)]="categoryModelDeatail.categoryDescription" name="categoryModelDetail.categoryDescription" class="form-control"
                                required></textarea>
                        </div>


                        <div class="form-group">
                            <label for="template">Status</label>
                            <select name="categoryModelDeatail.categoryStatus" class="form-control" (change)="changeCategoryStatus($event.target)">
                                <option *ngFor="let m of arrMdStatus" [selected]="m.codeSeq == categoryModelDeatail.categoryStatus.codeSeq" [ngValue]="m">{{m.codeMessage}}</option>
          
                            </select>
                        </div>

                        <label class="control-label">Select Icon Select Icon (Support file type - JPG)</label>
                        <!--<input id="input-1" type="file" class="file" >-->
                        <input type="file" accept="image/jpeg" ng2FileSelect [uploader]="uploader" />

                        <div class="col-md-9" style="margin-bottom: 40px;width: 100%">

                            <table class="table">
                                <thead>
                                    <tr>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of uploader.queue">
                                        <!-- <td><strong>{{ item?.file?.name }}</strong></td> -->
                                        <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                        <td *ngIf="uploader.isHTML5">
                                            <div class="progress" style="margin-bottom: 0;">
                                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                        </td>
                                        <td style="text-align: right">
                                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                        </td>
                                        <td nowrap style="text-align: right; width: 150px;">
                                            <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                                            <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <br/><br/>
                    <div class="modal-footer">
                        <img *ngIf="serviceProgress" src="assets/inlineLoader.gif" style="width:20px;" />
                        <button type="reset" class="btn btn-default" (click)="addCategory.hide()">Close</button>
                        <button type="submit" *ngIf="!isSuccess && operationType == 'insert'" [disabled]="serviceProgress" class="btn btn-success">Create</button>
                        <button type="submit" *ngIf="!serviceProgress && operationType == 'update'" class="btn btn-success">Save</button>


                    </div>
                </form>
                <!--############### end form ############-->
            </div>
        </div>
    </div>

    <!--############## Edit Category ################-->
    <div bsModal #editCategory="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-md">

            <div class="modal-content">

                <form #editCategoryForm="ngForm" (ngSubmit)="submitForm($e)">
                    <!--########## start form ########-->
                    <div class="modal-header">
                        <button type="button" class="close pull-right" (click)="editCategory.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        <h4 class="modal-title">Edit Category</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="template">Title</label>
                            <input type="text" [(ngModel)]="categoryModelDeatail.categoryTitle" name="categoryModelDetail.categoryTitle" class="form-control"
                                required>
                        </div>

                        <div class="form-group">
                            <label for="template">Description</label>
                            <input type="text" [(ngModel)]="categoryModelDeatail.categoryDescription" name="categoryModelDetail.categoryDescription"
                                class="form-control" required>
                        </div>

                        <!--<label class="radio-inline">
                        <input type="radio" name="optradio" checked>Active
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Inactive
                    </label><br><br>-->

                        <label class="control-label">Select Icon</label>
                        <input id="input-1" type="file" class="file">
                        <!--<input id="input-1" type="file" class="file" required>-->

                    </div>

                    <div class="modal-footer">
                        <button type="reset" class="btn btn-default" (click)="editCategory.hide()">Close</button>
                        <button type="button" class="btn btn-success" (click)="saveCategoryChanges(event)">&nbsp;&nbsp;Add&nbsp;&nbsp;</button>
                    </div>
                </form>
                <!--############### end form ############-->
            </div>
        </div>
    </div>
</div>



<div bsModal #success="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">

        <div class="modal-content">

            <div class="modal-header" style="background-color: #449D44; color: azure">
                <button type="button" class="close pull-right" (click)="success.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                <h4 class="modal-title">Operation Completed</h4>
            </div>
            <div class="modal-body">
                <p>{{successMessage}}</p>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-default" (click)="success.hide()">Close</button>
            </div>

        </div>
    </div>
</div>


<div bsModal #fail="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">

        <div class="modal-content">

            <div class="modal-header" style="background-color: chocolate;color: azure">
                <button type="button" class="close pull-right" (click)="fail.hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                <h4 class="modal-title">Operation Failed!</h4>
            </div>
            <div class="modal-body">
                <p>{{failMessage}}</p>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-default" (click)="fail.hide()">Close</button>
            </div>

        </div>
    </div>
</div>